<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seltzer Cycle 2020</title>

    <script src="https://kit.fontawesome.com/be9a7d67ce.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/style.css') }}">
    <link href="css/smoothness/jquery-ui-1.9.0.custom.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="jquery-1.8.2.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.9.0.custom.js') }}"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>


<link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
rel="stylesheet"
/>
</script>

</head>

<body>

  
          
 


  
     
 
  
            
  
  <!-- NAVBAR -->



          <center>


  <img id="frog" src="../static/images/AprilFools.gif"></br>
  <h4>Stay Safe Everyone</h4></br>
    <img id="owl" src="../static/images/Seltzer_Owl.gif">

    


  </center>






    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/carousel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reax.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/S_Desc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/A_Desc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/B_Desc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/C_Desc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/D_Desc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/E_Desc.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Descriptions/F_Desc.js') }}"></script>

</body>
</html>